#main-wrapper {
    display: flex;
}

#body-info {
    line-height: 2px;
    width: 200px;
}

#scene-wrapper {
    width: 1200px;
    height: 875px;
    margin: auto;
    margin-top: 3vmin;
    background-color: #fafafa;
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
}

canvas[resize] {
    width: 90%;
    height: 90%;
}