body {
    background-color: black;
    color: white;
}

#main-wrapper {
    display: flex;
}

#poi-current {
    line-height: 2px;
    width: 200px;
}

#left-menu {
    margin: 20px;
    padding: 20px;
    background-color: rgb(40, 40, 40);
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
}

#poi-current {
    padding: 10px;
    margin: 10px 10px 20px 10px;
    border: 1px;
    border-style: solid;
    height: 60px;
}

.poi-list-btn {
    border: none;
    padding: 6px 10px;
    background-color: black;
    color: white;
    opacity: 0.8;
    transition: 0.15s;      
}

.poi-list-btn:hover {
    opacity: 1.0;
    transform: scale(1.02);
}

.poi-list-btn.toggled {
    background-color: darkblue; 
}

#poi-list {
    padding: 10px;
    border: 1px;
    height: 300px;
    border-style: solid;
    overflow: auto;
}

#poi-list ul {
    padding-left: 25px;
}

#scene-wrapper {
    width: 1200px;
    height: 875px;
    margin: auto;
    margin-top: 3vmin;
    background-color: rgb(100, 100, 100);
    padding: 1px;
    box-shadow: 2px 2px 12px 2px rgba(255, 255, 255, 0.4);
}

canvas[resize] {
    width: 90%;
    height: 90%;
}