@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.container {
  background-color: black;
  color: white;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  display: flex;
}

.leftMenu {
  margin: 2vw;
  padding: 2vw;
}